html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.offcanvas-collapse {
    position: fixed;
    top: 57px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 170px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: hsl(181,82%,15%, 0.95);
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }

.offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

@media only screen and (min-width: 768px) {
  .offcanvas-collapse {
      width: 240px;
      padding-right: 2rem;
  }
}
